:root {
          --primary: #bfe7ad;
          --secondary: #000;
          --mainBg: #FFFFFF;
          --gradOne: #3b8a18;
          --gradTwo: #41c905;
          --cardOne: #E8EAF0;
          --cardTwo: #41c905;
          --linkColor: #4b8f2d;
          --icon: #7fd25b;
          --camera: #FFFFFF;
          --modalText: #000000;
          --leaderboardText: #000000;
          --headerText: #000000;
          --mainText: #000000;
          --freeUseText: #0A7D6C;
          --bgFreeUse: #0A7D6C1A;
          --primaryBtnText: #FFFFFF;
          --secondaryBtnText: #000000;
        }